{% assign t = site.tags.translations[0] %}

<ul>
  {% assign count = 0 %}
  {% if blog_recent %}
    {% capture ids %}{% for post in site.blogposts %}{% if post.lang == page.lang and count < 3 %}{{post.url}},{% assign count = count | plus: 1 %}{% endif %}{% if count == 3 %}{% break %}{% endif %}{% endfor %}{% endcapture %}

    {% assign count = 0 %}
  {% endif %}

  {% for post in site.categories.blog %}
  {% if post.lang == page.lang and count < 3 %}
  {% unless ids contains post.url %}
  <li>
    <a href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a>
  </li>
  {% assign count = count | plus: 1 %}
  {% endunless %}
  {% endif %}
  {% if count == 3 %}{% break %}{% endif %}
  {% endfor %}
</ul>