---
layout: default
experience: learn
class: blog-index
---
{% assign t = site.tags.translations[0] %}
<div class='basic-container blog' role='main'>
  <h1 class='header2'>{{t.[page.lang].blog.title}}</h1>
  <div class='result'>{% if page.tag %}{{page.title}}{% endif %}</div>
  <div class='row-fluid'>
    <div class='span9 blog-list'>
      {% assign cardCount = 0 %}

      {% for post in site.blogposts %}
        {% if post.tags contains 'promote' %}
        {% if post.topics contains page.tag or page.tag == null %}
        {% if post.lang == page.lang %}
          {% include blog-card.html %}
          {% assign cardCount = cardCount | plus: 1 %}
        {% endif %}
        {% endif %}
        {% endif %}
      {% endfor %}

      {% for post in site.blogposts %}
        {% unless post.tags contains 'promote' %}
        {% if post.topics contains page.tag or page.tag == null %}
        {% if post.lang == page.lang %}
          {% include blog-card.html %}
          {% assign cardCount = cardCount | plus: 1 %}
        {% endif %}
        {% endif %}
        {% endunless %}
      {% endfor %}

      {% if cardCount > 3 %}
        {% assign firstThree = true %}
        {% include next-ten.html %}
      {% endif %}
    </div>
    <div class='span3'>
      {% include siderail.html %}
    </div>
  </div>
</div>